* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: "Proxima Nova";
}

@mixin myFont ($ff, $fstl, $fw, $fs, $lh, $clr) {
	font-family: $ff;
	font-style: $fstl;
	font-weight: $fw;
	font-size: $fs;
	line-height: $lh;
	color: $clr;
}

@import url('http://fonts.cdnfonts.com/css/proxima-nova-2');

@font-face {
    font-family: Proxima Nova;
    font-weight: bold;
    src: url("../fonts/Proxima\ Nova\ Alt\ Bold.otf"), url("../fonts/Proxima\ Nova\ Alt\ Light.otf"), url("../fonts/Proxima\ Nova\ Alt\ Thin.otf"), url("../fonts/ProximaNova-Regular.otf"), url("../fonts/Proxima\ Nova\ Black.otf"), url("../fonts/Proxima\ Nova\ Bold.otf")       format("opentype");
}


.p-9-w {
	@include myFont ("Proxima Nova", normal, 400, 9px, 9px, #CACACA);
}

.p-12-g {
	@include myFont ("Proxima Nova", normal, 400, 12px, 12px, #CACACA);
}

.p-16 {
	@include myFont ("Proxima Nova", normal, 700, 16px, 19px, #0A0A0A);

	@media screen and (min-width: 1200px) {
		@include myFont ("Proxima Nova", normal, 700, 16px, 19px, #0A0A0A);
	}
}


.p-16-w {
	@include myFont ("Proxima Nova", normal, 400, 16px, 16px, #FFFFFF);
}

.p-18 {
	@include myFont ("Proxima Nova", normal, 600, 18px, 18px, #111010);
}

.p-20 {
	@include myFont ("Proxima Nova", normal, 400, 20px, 28px, #616161);
}

.p-26 {
	@include myFont ("Proxima Nova", normal, 600, 26px, 26px, #111010);
}

.p-28-w {
	@include myFont ("Proxima Nova", normal, 600, 28px, 28px, #FFFFFF);
}


.p-20-15 {
	@include myFont ("Proxima Nova", normal, 400, 15px, 25px, #616161);

	@media screen and (min-width: 768px) {
		@include myFont ("Proxima Nova", normal, 400, 15px, 25px, #616161);
	}

	@media screen and (min-width: 1200px) {
		@include myFont ("Proxima Nova", normal, 400, 20px, 28px, #616161);
	}
}


.p-20-18 {
	@include myFont ("Proxima Nova", normal, 400, 18px, 28px, #ECECEC);

	@media screen and (min-width: 768px) {
		@include myFont ("Proxima Nova", normal, 400, 18px, 28px, #ECECEC);
	}

	@media screen and (min-width: 1200px) {
		@include myFont ("Proxima Nova", normal, 400, 20px, 28px, #ECECEC);
	}
}




.h2-white {

	@include myFont ('Proxima Nova', normal, 700, 26px, 22px, #FFFFFF);

	@media screen and (min-width: 768px) {
		@include myFont ('Proxima Nova', normal, 700, 26px, 22px, #FFFFFF);
	}

	@media screen and (min-width: 1200px) {
		@include myFont ('Proxima Nova', normal, 700, 47px, 48px, #FFFFFF);
	}
}



.h2-black {

	@include myFont ('Proxima Nova', normal, 700, 30px, 48px, #111010);

	@media screen and (min-width: 768px) {
		@include myFont ('Proxima Nova', normal, 700, 48px, 48px, #111010);
	}

	@media screen and (min-width: 1200px) {
		@include myFont ('Proxima Nova', normal, 700, 48px, 48px, #111010);
	}
}

.h2-48-30 {

	@include myFont ('Proxima Nova', normal, 700, 30px, 30px, #111010);

	@media screen and (min-width: 768px) {
		@include myFont ('Proxima Nova', normal, 700, 30px, 30px, #111010);
	}

	@media screen and (min-width: 1200px) {
		@include myFont ('Proxima Nova', normal, 700, 48px, 48px, #111010);
	}
}




.btn {
	background: #111010;
	border: none;
	width: 180px;
	height: 45px;

	@media screen and (min-width: 1200px) {
		width: 180px;
		height: 52px;
	}

	&:hover{
		filter: invert(100%);
		cursor: pointer;
		box-shadow: 1px 1px 10px 1px #ffffff;
	}

	a{
	text-decoration: none;
	@include myFont ('Proxima Nova', normal, 700, 15px, 15px, #FFFFFF);

		@media screen and (min-width: 1200px) {
			@include myFont ('Proxima Nova', normal, 700, 16px, 19px, #FFFFFF);
		}
	}	
}




.container {
	padding-left: 20px;
	padding-right: 20px;

	@media screen and (min-width: 1600px) {
		padding-left: 250px;
		padding-right: 250px;
	}

	&-header {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 17px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
			padding-top: 45px;
		}

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			padding-top: 45px;
		}
	}

	&-introdaction {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 17px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
			padding-top: 62px;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			padding-top: 62px;
			max-width: 1920px;
			margin: 0 auto;
			height: 100%;
		}
	}

	&-catalog {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 17px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
			padding-top: 62px;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			padding-top: 62px;
			max-width: 1920px;
			margin: 0 auto;
			height: 100%;
			
		}
	}

	&-products {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 80px;
		margin-top: 205px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
			padding-top: 80px;
			margin-top: 0;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			padding-top: 80px;
			max-width: 1920px;
			margin: 0 auto;
			height: 100%;
			
		}
	}

	&-swiper {
		padding-left: 20px;
		padding-right: 20px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			max-width: 1920px;
			margin: 0 auto;
			height: 100%;
		}
	}
	&-vision {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 47px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			padding-top: 120px;
			max-width: 1920px;
			margin: 0 auto;
			height: 100%;
		}
	}
	&-creative {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 60px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			padding-top: 120px;
			max-width: 1920px;
			margin: 0 auto;
			height: 100%;
		}
	}

	&-creative-swiper{
		padding-left: 20px;
		padding-right: 20px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			max-width: 1920px;
			margin: 0 auto;
			height: 100%;
		}

	}

	&-projects {
		padding-left: 20px;
		padding-right: 20px;
		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
			padding-top: 120px;
			margin-top: 0;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			padding-top: 120px;
			max-width: 1920px;
			margin: 0 auto;
			height: 100%;
			
		}
	}

	&-collections {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 80px;
		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
			padding-top: 120px;
			margin-top: 0;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			padding-top: 120px;
			max-width: 1920px;
			margin: 0 auto;
			height: 100%;
		}
	}

	&-showrooms {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 57px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			padding-top: 120px;
			max-width: 1920px;
			margin: 0 auto;
			height: 100%;
		}
	}

	&-footer {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		padding-top: 30px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			padding-top: 68px;
			padding-bottom: 27px;
		}
	}
}


.header-logo {
	display: none;

	@media screen and (min-width: 1200px) {
		display: block;
		text-align: center;
		margin-bottom: 40px;
	}
}

.header-logo-mbl {
	display: block;

	@media screen and (min-width: 1200px) {
		display: none;
	}
}


.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 34px;
}

.header-search {
	display: flex;
	justify-content: left;
}

.header-pages {
	display: none;

	@media screen and (min-width: 1200px) {
		display: flex;
		justify-content: space-between;
		gap: 50px;
	}

	a {
		text-decoration: none;
		font-family: 'Proxima Nova', sans-serif;
	}

	a:first-child{
		color: grey;
	}
	a:hover{
		color: rgb(178, 177, 177);
	}
}


.header-cart {
	display: flex;
	gap: 24px;

	@media screen and (max-width: 1200px) {

		a:nth-child(2), a:nth-child(3){
			display: none;
		}
	}
}




.block1-introdaction-bg{
	background-image: url('../img/chair-mbl.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  center;
	height: 434px;
	

	@media screen and (min-width: 768px) {
		background-image: url('../img/chair-dsk.jpg');
		background-position: left;
		height: 434px;
	}
	@media screen and (min-width: 1200px) {
		background-image: url('../img/chair-dsk.jpg');
		background-position: top center;
		height: 526px;
	}
}



.introdaction-details {
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translate(-50%, 0%);
	padding: 8px 8px;
	width: 320px;
	height: 330px;
	background: rgba(0, 0, 0, 0.36);
	backdrop-filter: blur(34px);
	overflow: hidden;
	@media screen and (min-width: 410px) {
		width: 390px;
		height: 330px;
		padding: 32px 20px;
	}

	@media screen and (min-width: 768px) {
		width: 600px;
	}
	@media screen and (min-width: 1200px) {
		position: static;
		transform:none;
		margin-left: auto;
		padding-left: 42px;
		padding-right: 36px;
		padding-top: 50px;
		padding-bottom: 52px;
		width: 716px;
		height: 402px;
	}

	h2{
		margin-top:0px;
		margin-bottom: 20px;

		@media screen and (min-width: 1200px) {
			margin-bottom: 30px;
		}
	}
	
	p{
		margin-top: 0px;
		margin-bottom: 10px;

		@media screen and (min-width: 768px) {
			margin-bottom: 65px;
		}

		@media screen and (min-width: 1200px) {
			margin-bottom: 58px;
		}
	}
}



.introdaction-btn {
	a{
		text-decoration: none;
		@include myFont ('Proxima Nova', normal, 700, 15px, 15px, #040404);

		@media screen and (min-width: 1200px) {
			@include myFont ('Proxima Nova', normal, 700, 16px, 19px, #040404);
		}
	}

	background: #FFFFFF;
	border: none;
	width: 180px;
	height: 45px;
	@media screen and (min-width: 1200px) {
		width: 180px;
		height: 52px;
	}

	&:hover{
		filter: invert(100%);
		cursor: pointer;
		box-shadow: 1px 1px 10px 1px #ffffff;
	}

}



.block2-products-bg {
	background-image: url('../img/stars-dsk.png');
	background-repeat: repeat;
	@media screen and (min-width: 768px) {
		background-image: url('../img/stars-dsk.png');
	}
	@media screen and (min-width: 1200px) {
		background-image: url('../img/stars-dsk.png');
	}
}

.title-justify{

	display: flex;
	flex-direction: column;
	text-align: center;
	

	h2{
		margin: 0;
		margin-bottom: 8px;
		@media screen and (min-width: 1200px) {
			margin-bottom: 20px;
		}
	}
	span {
		width: 125px;
		height: 3px;
		background: #C4C4C4;
		margin: 0 auto;
		margin-bottom: 14px;
		@media screen and (min-width: 1200px) {
			width: 150px;
			height: 5px;
			margin-bottom: 30px;
		}
	}
	p {
		max-width: 388px;
		max-height: 75px;
		margin: 0 auto;
		margin-bottom: 26px;
		@media screen and (min-width: 1200px) {
			max-width: 826px;
			max-height: 56px;
			margin: 0 auto;
			margin-bottom: 40px;
		}
	}
}

.block2-products-photo{
	display: none;

	@media screen and (min-width: 1200px) {
		display: flex;
		flex-shrink: 1;
		gap: 24px;
		margin: 0 auto;
	}
}

.products-photo-both {
	display: flex;
	flex-direction: column;
}


.products-outdoor, .products-kitchen{
	max-width: 455px;
	width: 100%;
}

.products-bathroom{
	max-width: 575px;
	width: 100%
}

.products-marble{
	max-width: 340px;
	width: 100%
}


.prod-title-block{
	position: absolute;
	bottom: -16px;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 100%;
	background: #111010;
	border: 1px solid #FFFFFF;
	padding:30px 80px;

	p:first-child{
		margin-bottom: 10px;
		@media screen and (max-width: 1200px) {
			margin-top: 0px;
		}
	}
	p:last-child{
		margin-bottom: 0px;
		@media screen and (max-width: 1200px) {
			margin-top: 0px;
		}
	}
	@media screen and (max-width: 1200px) {
		bottom: -55px;
	}
}



.products-bathroom-relative, .products-marble-relative, 
.products-outdoor-relative, .products-kitchen-relative{
	position: relative;
}

.products-outdoor-relative{
	margin-bottom: 70px;
}

.prod-bathroom-txt{
	max-width: 535px;
}
.prod-marble-txt{
	max-width: 300px;
	padding:30px 27px;
}

.prod-kitchen-txt, .prod-outdoor-txt{
	max-width: 415px;
	padding:30px 24px;
}




.block3-vision-details {
	padding: 8px 8px;
	width: 320px;
	height: 370px;
	background: #F7F7F7;
	overflow: hidden;
	margin: 0 auto;

	@media screen and (min-width: 410px) {
		width: 390px;
		height: 370px;
		padding:20px;
		padding-bottom: 35px;
	}

	@media screen and (min-width: 768px) {
		width: 708px;
		height: 402px;
		padding-left: 42px;
		padding-right: 55px;
		padding-top: 50px;
		padding-bottom: 52px;
	}

	@media screen and (min-width: 1200px) {
		transform:none;
		margin: 0;
	}

	h2{
		margin-top:0px;
		margin-bottom: 10px;
		@media screen and (min-width: 768px) {
			margin-bottom: 30px;
		}

		@media screen and (min-width: 1200px) {
			margin-bottom: 30px;
		}
	}
	
	p{
		margin-top: 0px;
		margin-bottom: 24px;

		@media screen and (min-width: 768px) {
			margin-bottom: 65px;
		}

		@media screen and (min-width: 1200px) {
			margin-bottom: 58px;
		}
	}
}



.block3-vision-bg {
	background-image: url('../img/vision-bg-dsk.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 450px;
	@media screen and (min-width: 768px) {
		background-image: url('../img/vision-bg-dsk.jpg');
	}
	@media screen and (min-width: 1200px) {
		background-image: url('../img/vision-bg-dsk.jpg');
		background-position: right;
		padding-top: 62px;
		padding-bottom: 62px;
	}
}




.block4 {
	
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 1200px) {
		flex-direction: row;
		gap: 66px;
	}
}

.block4-creative{
	
	h2{
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
		line-height: 30px;
		@media screen and (min-width: 1200px) {
			margin-top: 0;
			margin-bottom: 30px;
			max-width: 565px;
			line-height: 58px;
			text-align: left;
		}
	}
	p{
		
		max-height: 168px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 17px;
		@media screen and (min-width: 1200px) {
			margin-top: 0;
			margin-bottom: 50px;
			margin-left: 0;
			max-width: 610px;
			max-height: 112px;
			text-align: left;
		}
	}
}

.block4-creative-photo{
	
	display: flex;
	gap:66px;	
	img{
		width: 100%;
	}
	@media screen and (max-width: 1200px) {
		display: none;
	}
}

.creative-photo-btn{
	display: flex;
	flex-direction: column;
	img{
		margin-bottom: 40px;
	}
}


.block4-video{
		position: relative;

	 img{
		max-width: 454px;
		display: flex;
		flex-direction: column;
		width: 100%;
		display: block;
		
		
	}
	@media screen and (max-width: 1200px) {
		display: none;
	}
}




.block4-video-play{
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	background-color: white;
	padding: 24px 30px;
	width: 226px;
	height: 110px;

	a{
		text-decoration: none;
	}
	img{
		width: 60px;
		height: 60px;
		margin-right: 20px;
	}
	p:first-child{
		margin: 0;
		margin-top: 10px;
		margin-bottom: 6px;
		color: gray;
	}
}

.block4-video-relative{
	position: relative;
}




.block5{
	button{
		margin: 0 auto;
		@media screen and (max-width: 1200px) {
			display: none;
		}
	}
}


.projects-photo{
	display: none;

	@media screen and (min-width: 1200px) {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		margin-bottom: 50px;
	}
}

.projects-photo-subblock{
	display: flex;
	flex-direction: column;
	text-align: center;

	img{
		width: 100%;
		max-width: 333px;
	}

	p{
		color: #040404;
		margin-top: 3px;
		margin-bottom: 0;
	}
}


.projects-swiper-details{
	display: flex;
	flex-direction: column;
	text-align: center;
	@media screen and (min-width: 1200px) {
		display: none;
	}

	p{
		color: rgba(17, 16, 16, 0.5);
		margin-top: 3px;
		margin-bottom: 35px;
	}
	button{
		margin: 0 auto;
	}
}



.block6{
	display: none;

	@media screen and (min-width: 1200px) {
		display: flex;
		flex-direction: column;
		text-align: center;

		button {
			margin: 0 auto;
			margin-top: 50px;
		}
	
		h2{
			margin: 0;
			margin-bottom: 8px;
			@media screen and (min-width: 1200px) {
				margin-bottom: 20px;
			}
		}
		span {
			width: 125px;
			height: 3px;
			background: #C4C4C4;
			margin: 0 auto;
			margin-bottom: 14px;
			@media screen and (min-width: 1200px) {
				width: 150px;
				height: 5px;
				margin-bottom: 30px;
			}
		}

		p {
			max-width: 388px;
			max-height: 75px;
			margin: 0 auto;
			margin-bottom: 26px;
			@media screen and (min-width: 1200px) {
				max-width: 826px;
				max-height: 56px;
				margin: 0 auto;
				margin-bottom: 40px;
			}
		}
	}
}


.collections-photo {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	}
	
	.subblock-grid1 { grid-area: 1 / 1 / 2 / 2; }
	.subblock-grid2 { grid-area: 1 / 2 / 2 / 3; }
	.subblock-grid3 { grid-area: 1 / 3 / 2 / 4; }
	.subblock-grid4 { grid-area: 1 / 4 / 2 / 5; }
	.subblock-grid5 { grid-area: 2 / 1 / 3 / 2; }
	.subblock-grid6 { grid-area: 2 / 2 / 3 / 3; }
	.subblock-grid7 { grid-area: 2 / 3 / 3 / 4; }
	.subblock-grid8 { grid-area: 2 / 4 / 3 / 5; }

	
	.subblock-description{
		background-color: #FFFFFF;
		box-shadow: 1px 1px 12px 1px #e9e8e8;
		padding-top: 24px;
		padding-bottom: 25px;
		p{
			margin-bottom: 19px;
		}
		i:nth-child(2){
			margin-right: 10px;
		}
		i:last-child{
			color: gray;
		}
	}

	.collections-photo-subblock{
		img {
			width: 100%;
		}
	}



	
.block7-showrooms-details {
	padding: 8px 8px;
	width: 320px;
	height: 308px;
	background: #F9F9F9;
	overflow: hidden;
	margin: 0 auto;

	@media screen and (min-width: 410px) {
		width: 390px;
		height: 308px;
		padding:20px;
		padding-bottom: 47px;
		
	
	}

	@media screen and (min-width: 768px) {
		width: 692px;
		height: 522px;
		padding-left: 86px;
		padding-right: 152px;
		padding-top: 120px;
		padding-bottom: 120px;
	}

	@media screen and (min-width: 1200px) {
		transform:none;
		margin-left: auto;
		margin-right: 0;
		padding-right: 152px;
		
	}

	h2{
		margin-top:0px;
		margin-bottom: 10px;
		@media screen and (min-width: 768px) {
			margin-bottom: 30px;
		}

		@media screen and (min-width: 1200px) {
			margin-bottom: 30px;
		}
	}
	
	p{
		margin-top: 0px;
		margin-bottom: 24px;

		@media screen and (min-width: 768px) {
			margin-bottom: 65px;
		}

		@media screen and (min-width: 1200px) {
			margin-bottom: 60px;
		}
	}
}


.block7-showrooms-bg {
	background-image: url('../img/showrooms-dsk.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 600px;

	@media screen and (min-width: 1200px) {
		background-position: left;
		padding-top: 62px;
		padding-bottom: 62px;
	}
}





footer{
	background-color: #111010;
	border-radius: 0 0 45px 45px;
	@media screen and (min-width: 768px) {
		margin-top: 120px;
	}
	@media screen and (min-width: 1200px) {
		border-radius: 0 0 24px 24px;
		margin-top: 120px;
	}

}

.footer-info{
	display: flex;
	flex-direction: column;
	text-align: center;
	@media screen and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
	}
}

.footer-logo {
	@media screen and (min-width: 1200px) {
		display: block;
		text-align: center;
		margin-bottom: 40px;
	}
}

.footer-info-list{
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
	}

	ul{
		list-style: none;
		margin: 0;
		text-decoration: none;
		padding-left: 0;
		font-size: 14px;
		
		
		li{
			a{
				text-decoration: none;
				color: white;
				line-height: 170%;
				font-family: 'Poppins', sans-serif;
				&:hover{
					color: grey;
				}
			}
		}
		li:first-child{
			font-weight: 600;
			margin-bottom: 15px;
		}
	}
}

.footer-contact{
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
		color: white;
		width: 280px;
	}
	
	h2{
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		font-size: 14px;
		margin: 0;
		margin-bottom: 15px;
	}

	p{
		font-family: 'Poppins', sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 170%;
		margin: 0;
	}
}


.social-network{
	display: flex;
	gap: 15px;
	justify-content: center;
	margin-bottom: 19px;
	@media screen and (min-width: 768px) {
		justify-content: left;
		margin-bottom: 50px;
	}

}
	
.copyright{
	display: flex;
	flex-direction: column;
	text-align: center;
	opacity: 0.5;
	@media screen and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		opacity: 1;
	}
	p {
		color: white;
		margin: 0;
	}
}


.footer-dropdown {
	display: block;
	@media screen and (min-width: 768px) {
		display: none;
	}
	span {
		display: block;
		width: 100%;
		position: initial;
		margin: 0 auto;
		margin-bottom: 34px;
		border-bottom: 1px solid white;
	}
}

.dropdown-category{
    position: relative;
    cursor: pointer;

    label {
		width: 100%;
		color: white;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		
		p{
			margin: 0;
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 14px;
			line-height: 150%;
			margin-bottom: 15px;
		}
    }

    input{
        display: none;
    }
}

.dropdown-category {
    input:checked {
        & ~ .dropdown-list{
            display: flex;
			justify-content: space-between;
			width: 100%;
			padding: 5px;
			padding-left: 0;
			padding-right: 0;
            background-color: #4f4f4f;
			color: white;
			font-family: 'Poppins', sans-serif;
			font-weight: 400;
			font-size: 14px;
			line-height: 120%;
			position: initial;
        }

		& ~ label {
			picture {
				transform: rotateZ(-180deg);
				transition: all 0.3s;
			}
		}
    }
}

.dropdown-list {
    display: none;
    top: 100%;
}

