* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: "Proxima Nova";
}

@mixin myFont ($ff, $fstl, $fw, $fs, $lh, $clr) {
	font-family: $ff;
	font-style: $fstl;
	font-weight: $fw;
	font-size: $fs;
	line-height: $lh;
	color: $clr;
}

@import url('http://fonts.cdnfonts.com/css/proxima-nova-2');


@font-face {
    font-family: Proxima Nova;
    font-weight: bold;
    src: url("../fonts/Proxima\ Nova\ Alt\ Bold.otf"), url("../fonts/Proxima\ Nova\ Alt\ Light.otf"), url("../fonts/Proxima\ Nova\ Alt\ Thin.otf"), url("../fonts/ProximaNova-Regular.otf"), url("../fonts/Proxima\ Nova\ Black.otf"), url("../fonts/Proxima\ Nova\ Bold.otf")       format("opentype");
}

.p-9-w {
	@include myFont ("Proxima Nova", normal, 400, 9px, 9px, #CACACA);
}

.p-12-g {
	@include myFont ("Proxima Nova", normal, 400, 12px, 12px, #CACACA);
}

.p-15-b {
	@include myFont ("Proxima Nova", normal, 700, 15px, 28px, #0A0A0A);
}

.p-15-g {
	@include myFont ("Proxima Nova", normal, 400, 15px, 15px, #A7A7A7);
}


.p-16 {
	@include myFont ("Proxima Nova", normal, 700, 16px, 19px, #0A0A0A);

	@media screen and (min-width: 1200px) {
		@include myFont ("Proxima Nova", normal, 700, 16px, 19px, #0A0A0A);
	}
}


.p-16-w {
	@include myFont ("Proxima Nova", normal, 400, 16px, 16px, #FFFFFF);
}

.p-18 {
	@include myFont ("Proxima Nova", normal, 600, 18px, 18px, #111010);
}

.p-18-28 {
	@include myFont ("Proxima Nova", normal, 400, 18px, 28px, #111010);
}

.p-20 {
	@include myFont ("Proxima Nova", normal, 400, 20px, 28px, #616161);
}

.p-20-b {
	@include myFont ("Proxima Nova", normal, 400, 20px, 24px, #151515);
}

.p-25 {
	@include myFont ("Proxima Nova", normal, 700, 25px, 25px, #111010);
}

.p-26 {
	@include myFont ("Proxima Nova", normal, 600, 26px, 26px, #111010);
}

.p-28-w {
	@include myFont ("Proxima Nova", normal, 600, 28px, 28px, #FFFFFF);
}

.p-30{
	@include myFont ('Poppins', normal, 500, 30px, 45px, #151515);
}


.p-20-15 {
	@include myFont ("Proxima Nova", normal, 400, 15px, 25px, #616161);

	@media screen and (min-width: 768px) {
		@include myFont ("Proxima Nova", normal, 400, 15px, 25px, #616161);
	}

	@media screen and (min-width: 1200px) {
		@include myFont ("Proxima Nova", normal, 400, 20px, 28px, #616161);
	}
}


.p-20-18 {
	@include myFont ("Proxima Nova", normal, 400, 18px, 28px, #ECECEC);

	@media screen and (min-width: 768px) {
		@include myFont ("Proxima Nova", normal, 400, 18px, 28px, #ECECEC);
	}

	@media screen and (min-width: 1200px) {
		@include myFont ("Proxima Nova", normal, 400, 20px, 28px, #ECECEC);
	}
}


.h2-white {

	@include myFont ('Proxima Nova', normal, 700, 26px, 22px, #FFFFFF);

	@media screen and (min-width: 768px) {
		@include myFont ('Proxima Nova', normal, 700, 26px, 22px, #FFFFFF);
	}

	@media screen and (min-width: 1200px) {
		@include myFont ('Proxima Nova', normal, 700, 48px, 48px, #FFFFFF);
	}
}


.h2-black {

	@include myFont ('Proxima Nova', normal, 700, 30px, 48px, #111010);

	@media screen and (min-width: 768px) {
		@include myFont ('Proxima Nova', normal, 700, 48px, 48px, #111010);
	}

	@media screen and (min-width: 1200px) {
		@include myFont ('Proxima Nova', normal, 700, 48px, 48px, #111010);
	}
}


.h2-40-24{
	@include myFont ('Poppins', normal, 400, 24px, 24px, #111010);

	@media screen and (min-width: 768px) {
		@include myFont ('Poppins', normal, 400, 24px, 24px, #111010);
	}

	@media screen and (min-width: 1200px) {
		@include myFont ('Poppins', normal, 400, 40px, 60px, #111010);
	}
}

.h2-48-30 {

	@include myFont ('Proxima Nova', normal, 700, 30px, 30px, #111010);

	@media screen and (min-width: 768px) {
		@include myFont ('Proxima Nova', normal, 700, 30px, 30px, #111010);
	}

	@media screen and (min-width: 1200px) {
		@include myFont ('Proxima Nova', normal, 700, 48px, 48px, #111010);
	}
}




.btn {
	background: #111010;
	border: none;
	width: 180px;
	height: 45px;

	@media screen and (min-width: 1200px) {
		width: 180px;
		height: 52px;
	}

	&:hover{
		filter: invert(100%);
		cursor: pointer;
		box-shadow: 1px 1px 10px 1px #ffffff;
	}

	a{
	text-decoration: none;
	@include myFont ('Proxima Nova', normal, 700, 15px, 15px, #FFFFFF);

		@media screen and (min-width: 1200px) {
			@include myFont ('Proxima Nova', normal, 700, 16px, 19px, #FFFFFF);
		}
	}	
}




.container {
	padding-left: 20px;
	padding-right: 20px;

	@media screen and (min-width: 1600px) {
		padding-left: 250px;
		padding-right: 250px;
	}

	&-header {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 17px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
			padding-top: 45px;
		}

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			padding-top: 45px;
		}
	}

	&-tabs{
		padding-left: 20px;
		padding-right: 20px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			max-width: 1920px;
			height: 100%;
			margin: 0 auto;
		}
	}

	&-purchase{

		padding-left: 20px;
		padding-right: 20px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			max-width: 1920px;
			height: 100%;
			margin: 0 auto;
		}
	}

	


	&-footer {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		padding-top: 30px;

		@media screen and (min-width: 1200px) {
			padding-left: 45px;
			padding-right: 45px;
		} 

		@media screen and (min-width: 1600px) {
			padding-left: 250px;
			padding-right: 250px;
			padding-top: 68px;
			padding-bottom: 27px;
		}
	}

	
}


.header-logo {
	display: none;

	@media screen and (min-width: 1200px) {
		display: block;
		text-align: center;
		margin-bottom: 40px;
	}
}

.header-logo-mbl {
	display: block;

	@media screen and (min-width: 1200px) {
		display: none;
	}
}


.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 34px;
}

.header-search {
	display: flex;
	justify-content: left;
}

.header-pages {
	display: none;

	@media screen and (min-width: 1200px) {
		display: flex;
		justify-content: space-between;
		gap: 50px;
	}

	a {
		text-decoration: none;
		font-family: 'Proxima Nova', sans-serif;
	}
	a:first-child{
		color: grey;
	}
	a:hover{
		color: rgb(178, 177, 177);
	}
}


.header-cart {
	display: flex;
	gap: 24px;

	@media screen and (max-width: 1200px) {

		a:nth-child(2), a:nth-child(3){
			display: none;
		}
	}
}


.block1-tabs-bg{
	background: linear-gradient(180deg, #fbf9f9 0%, rgba(255, 255, 255, 0.992) 100%);
}

.block1-tabs{
	display: flex;
	flex-direction: column;
	gap:10px;
	justify-content: left;
	padding-top: 41px;
	padding-bottom: 35px;
	opacity: 1;

	a:first-child{
		font-family: 'Proxima Nova';
		font-style: normal;
		font-weight: 700;
		font-size: 35px;
		line-height: 35px;
	}

	a:last-child::before{
		content:url('../img/arrow-p4.svg');
		vertical-align: middle;
		margin-right: 8px;
	}

	a{
		opacity: 1;
		text-decoration: none;
		color: black;
		@include myFont ('Poppins', normal, 400, 15px, 15px, black);
		@media screen and (min-width: 768px) {
			@include myFont ('Poppins', normal, 400, 20px, 30px, black);
		}
	}
}




.purchase-flex{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	@media screen and (min-width: 1200px) {
		flex-direction: row;
	}
}


.purchase-bg{
	background: #FAFAFA;
}

.block2-purchase-bg{
	background: #FAFAFA;
}

.block2-shipping{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 12px;
	@media screen and (min-width: 1200px) {
		max-width: 420px;
		max-height: 1020px;
		padding-left: 28px;
		padding-right: 31px;
		padding-bottom: 21px;
		padding-top: 21px;
	}
}



.block2-shipping-address{
	display: flex;
	flex-direction: column;
	gap: 20px;
	

	button{
			width: 72px;
			height: 45px;
		@media screen and (min-width: 1200px) {
			width: 72px;
			height: 45px;
		}
		
		font-family: 'Inter';
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
	}
	button:nth-child(1){
		color: #FFFFFF;
	}

	button:nth-child(2){
		background-color: #FFFFFF;
		border: 1px solid black;
		color: black;
	}

	form{
		input{
			width: 100%;
		}
	}

	input{
		background: #FFFFFF;
		border: 1px solid rgba(130, 130, 130, 0.4);
		height: 45px;
		&::placeholder{
			font-family: 'Proxima Nova';
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 18px;
			color: rgba(130, 130, 130, 0.85);
			padding-left: 18px;
		}
	}

	select{
		background: #FFFFFF;
		border: 1px solid rgba(130, 130, 130, 0.4);
		color: rgba(130, 130, 130, 0.85);
		font-size: 15px;
		height: 45px;
		appearance: none;
		overflow: hidden;
		width: 50%;
		padding-left: 18px;
		background: url('../img/select-arrow-p5.png') no-repeat right, #FFFFFF;
		@media screen and (min-width: 1200px) {
			width: 100%;
		}
	}
}


.shipping-name{
	input{
		width: 100%;
	}
	input:first-child{
		margin-bottom: 20px;
	}
}

.shipping-street{
	display: flex;
	gap: 7px;
	input:first-child{
		width: 100%;
		height: 45px;
		@media screen and (min-width: 1200px) {
			max-width: 239px;
			width: 100%;
			height: 45px;
		}
	}
	input:last-child{
		width: 100%;
		height: 45px;
		@media screen and (min-width: 1200px) {
			max-width: 116px;
			width: 100%;
			height: 45px;
		}
	}
}


.shipping-postcode{
	display: flex;
	gap: 7px;
	input:first-child{
		width: 100%;
		height: 45px;
		overflow: hidden;
		@media screen and (min-width: 1200px) {
			max-width: 158px;
			width: 100%;
			height: 45px;
		}
	}
	input:last-child{
		width: 100%;
		height: 45px;
		overflow: hidden;
		@media screen and (min-width: 1200px) {
			max-width: 195px;
			width: 100%;
			height: 45px;
		}
	}
}


.checkbox-style{
	display: flex;
	gap:12px;
	
	input{
		&:hover{
			cursor: pointer;
		}
		content: url('../img/unckecked-tick.svg');
	}

	input:checked {
		content: url('../img/ckecked-tick.svg');
	}
	label {
		max-width: 293px;
		p{
			font-family: 'Proxima Nova';
			font-weight: 400;
			font-size: 15px;
			line-height: 15px;
		}
	}
}



.block2-notification-req{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: rgba(130, 130, 130, 0.85);
	margin-top: 6px;
}

.block2-notification-pass{
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 10px;
	color: #828282;
	&::before{
		content: url('../img/i-icon.svg');
		vertical-align: middle;
		margin-left: 32px;
		margin-right: 5px;
	}
}



.payment-style{
	display: flex;
	justify-content: space-between;
	background: #FAFAFA;
	max-height: 84px;	
	width: 100%;
	align-items: center;
	div{
		display: flex;
		gap: 15px;
		align-items: center;
		a{
			width: 62px;
			height: 40px;
			&:hover{
				filter: invert(10%);
				box-shadow: 1px 1px 10px 1px rgb(121, 120, 120);
				cursor: pointer;
			}
		}
	}
	form{
		input{
			content: url('../img/checkbox-uncheked.svg');
			width: 19px;
			height: 19px;
			&:hover{
				cursor: pointer;
			}
			&:checked{
				content: url('../img/checkbox-cheked.svg');
				width: 19px;
				height: 19px;
			}
		}
	}
}


.payment-style-paypal{
	margin-bottom: 10px;
	padding: 12px;
	@media screen and (min-width: 1200px) {
		width: 424px;
		height: 100%;
		padding-left: 23px;
		padding-right: 23px;
		padding-top: 24px;
		padding-bottom: 21px;
	}
}


.payment-style-bank{
	@media screen and (min-width: 1200px) {
		height: 100%;
		padding-bottom: 21px;
	}
}




.payment-card{
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 12px;
	@media screen and (min-width: 1200px) {
		padding-left: 23px;
		padding-right: 23px;
		padding-top: 24px;
		padding-bottom: 21px;
		max-width: 424px;
	}
	
	form{
		input[type=text], [type=password], [type=number]{
			background: #FFFFFF;
			border: 1px solid rgba(130, 130, 130, 0.4);
			height: 45px;
			width: 100%;
			&::placeholder{
				font-family: 'Proxima Nova';
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 18px;
				color: rgba(130, 130, 130, 0.85);
				padding-left: 18px;
			}
		}
	}
}


.payment-card-expiry{
	display: flex;
	justify-content: space-between;
	input:first-child{
		width: 100%;
		height: 45px;
		@media screen and (min-width: 1200px) {
			max-width: 158px;
			width: 100%;
			height: 45px;
		}
	}
	input:last-child{
		width: 100%;
		height: 45px;
		@media screen and (min-width: 1200px) {
			max-width: 208px;
			width: 100%;
			height: 45px;
		}
	}
}




.grid-cart {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr repeat(7, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	background-color: #FAFAFA;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	max-height: 747px;
	margin-bottom: 20px;

	@media screen and (min-width: 768px) {
		padding-left: 31px;
		padding-right: 35px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	@media screen and (min-width: 1200px) {
		padding-top: 0px;
		padding-bottom: 0px;
		max-height: 747px;
	}
	
		div{
			align-self: center;
			text-align: center;
		}
	}
	
	.cart-subblock1-header { grid-area: 1 / 1 / 2 / 2; }
	.cart-subblock2-header { grid-area: 1 / 2 / 2 / 3; }
	.cart-subblock3-item { grid-area: 2 / 1 / 3 / 2; }
	.cart-subblock4-price { grid-area: 2 / 2 / 3 / 3; }
	.cart-subblock5-item { grid-area: 3 / 1 / 4 / 2; }
	.cart-subblock6-price { grid-area: 3 / 2 / 4 / 3; }
	.cart-subblock7-item { grid-area: 4 / 1 / 5 / 2; }
	.cart-subblock8-price { grid-area: 4 / 2 / 5 / 3; }
	.cart-subblock9-voucher { grid-area: 5 / 1 / 6 / 3; }
	.cart-subblock10-btn { grid-area: 6 / 1 / 7 / 2; }
	.cart-subblock11-btn{ grid-area: 6 / 2 / 7 / 3; }
	.cart-subblock12-subtotal { grid-area: 7 / 1 / 8 / 2; }
	.cart-subblock13-number { grid-area: 7 / 2 / 8 / 3; }
	.cart-subblock14-shippment{ grid-area: 8 / 1 / 9 / 2; }
	.cart-subblock15-value { grid-area: 8 / 2 / 9 / 3; }
	.cart-subblock16-delivery{ grid-area: 9 / 1 / 10 / 3; }



	.cart-subblock2-header, .cart-subblock4-price, .cart-subblock6-price,
	.cart-subblock8-price, .cart-subblock13-number, .cart-subblock15-value{
		p{
			text-align: right;
		}
	} 

	.cart-subblock1-header, .cart-subblock12-subtotal, .cart-subblock14-shippment{
		p{
			text-align: left;
		}
	}     


	.cart-subblock1-header, .cart-subblock2-header{
		p {
			font-family: 'Inter';
			font-weight: 500;
			font-size: 17px;
			line-height: 21px;
			margin: 0;
		}
	}


	.cart-subblock3-item, .cart-subblock5-item, .cart-subblock7-item{
		display: flex;
		align-items: center;
		gap: 19px;
		padding-top: 20px;
		padding-bottom: 20px;
		div{
			p{
				margin: 0;
				text-align: left;
				font-family: 'Proxima Nova';
				font-weight: 400;
				font-size: 16;
				line-height: 145%;
			}
			p:nth-child(3){
				font-weight: 700;
			}
			p:nth-child(2), p:nth-child(4){
				color: #a0a0a0;
			}
		}
	}



	.cart-subblock4-price, .cart-subblock6-price, .cart-subblock8-price{
		p{
			font-family: 'Proxima Nova';
			font-style: normal;
			font-weight: 400;
			font-size: 17px;
			line-height: 21px;
			margin: 0;
		}
	}


  .cart-subblock12-subtotal, .cart-subblock14-shippment{
	p{
		font-family: 'Proxima Nova';
		font-weight: 400;
		font-size: 17px;
		line-height: 17px;
	}
  }

  .cart-subblock13-number, .cart-subblock15-value{
	p{
		font-family: 'Proxima Nova';
		font-weight: 400;
		font-size: 17px;
		line-height: 21px;
	}
  }

  .cart-subblock15-value, .cart-subblock14-shippment{
	p{
		color:rgba(130, 130, 130, 0.85);
	}
  }


  .cart-subblock16-delivery{
	p{
		font-family: 'Proxima Nova';
		font-weight: 400;
		font-size: 17px;
		line-height: 17px;
		color:rgba(130, 130, 130, 0.85);
		text-align: left;
	}
  }


	.cart-subblock9-voucher{
		margin-bottom: 10px;
		p:first-child{
			font-family: 'Proxima Nova';
			font-weight: 400;
			font-size: 17px;
			line-height: 17px;
		}
		p:last-child{
			font-family: 'Proxima Nova';
			font-weight: 400;
			font-size: 15px;
			line-height: 15px;
			color: rgba(130, 130, 130, 0.85);
		}
	}


	.cart-subblock9-voucher{
		display: flex;
		justify-content: space-between;
	}


	.cart-subblock10-btn{
		form{
			margin-right: auto;
			width: 100%;
			input{
				width: 100%;
				height: 45px;
				border: 1px solid rgba(130, 130, 130, 0.85);
				
			
				&::placeholder{
					font-family: 'Proxima Nova';
					font-weight: 400;
					font-size: 15px;
					line-height: 15px;
					color: rgba(130, 130, 130, 0.85);
					text-align: center;
				}
			}
		}
	}


	.cart-subblock11-btn{
		margin-left: auto;
		width: 100%;
		button{
			width: 120px;
			height: 45px;
			width: 100%;
			@media screen and (min-width: 1200px) {
				width: 170px;
				height: 45px;
			}
			
			a{
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 24px;
			}
		}
	}




.block4-checkout{
	padding-left: 25px;
	padding-right: 37px;
	padding-top: 20px;
	padding-bottom: 17px;
	button{
		width: 100%;
		a{
			font-family: 'Proxima Nova';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
		}
	}
}

.checkout-checkbox{
	display: flex;
	gap:12px;

	input{
		&:hover{
			cursor: pointer;
		}
		content: url('../img/unckecked-tick.svg');
	}

	input:checked {
		content: url('../img/ckecked-tick.svg');
	}
	label {
		max-width: 354px;
		p{
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 18px;
			color: rgba(130, 130, 130, 0.85);
			margin-bottom: 25px;
		}
	}
}


.block4-checkout-total{
	display: flex;
	justify-content: space-between;

	b{
		font-family: 'Inter';
		font-weight: 500;
		font-size: 17px;
		line-height: 21px;
		text-align: right;
		color: #000000;
	}
	p{
		font-family: 'Inter';
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		color: rgba(130, 130, 130, 0.85);
		margin: 0;
		margin-top: 7px;
	}
}

.checkout-total-price{
	p{
		text-align: right;
	}
}



footer{
	background-color: #111010;
	border-radius: 0 0 45px 45px;
	@media screen and (min-width: 768px) {
		margin-top: 108px;
	}
	@media screen and (min-width: 1200px) {
		border-radius: 0 0 24px 24px;
		margin-top: 108px;
	}

}

.footer-info{
	display: flex;
	flex-direction: column;
	text-align: center;
	@media screen and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
	}
}

.footer-logo {
	@media screen and (min-width: 1200px) {
		display: block;
		text-align: center;
		margin-bottom: 40px;
	}
}

.footer-info-list{
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
	}

	ul{
		list-style: none;
		margin: 0;
		text-decoration: none;
		padding-left: 0;
		font-size: 14px;
		
		li{
			a{
				text-decoration: none;
				color: white;
				line-height: 170%;
				font-family: 'Poppins', sans-serif;
				&:hover{
					color: grey;
				}
			}
		}
		li:first-child{
			font-weight: 600;
			margin-bottom: 15px;
		}
	}
}

.footer-contact{
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
		color: white;
		width: 280px;
	}
	
	h2{
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		font-size: 14px;
		margin: 0;
		margin-bottom: 15px;
	}

	p{
		font-family: 'Poppins', sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 170%;
		margin: 0;
	}
}



.social-network{
	display: flex;
	gap: 15px;
	justify-content: center;
	margin-bottom: 19px;
	@media screen and (min-width: 768px) {
		justify-content: left;
		margin-bottom: 50px;
	}

}
	
.copyright{
	display: flex;
	flex-direction: column;
	text-align: center;
	opacity: 0.5;
	@media screen and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		opacity: 1;
	}
	p {
		color: white;
		margin: 0;
	}
}



.footer-dropdown {
	display: block;
	@media screen and (min-width: 768px) {
		display: none;
	}
	span {
		display: block;
		width: 100%;
		position: initial;
		margin: 0 auto;
		margin-bottom: 34px;
		border-bottom: 1px solid white;
	}
}

.dropdown-category{
    position: relative;
    cursor: pointer;

    label {
		width: 100%;
		color: white;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		
		p{
			margin: 0;
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 14px;
			line-height: 150%;
			margin-bottom: 15px;
		}
    }

    input{
        display: none;
    }
}


.dropdown-category {
    input:checked {
        & ~ .dropdown-list{
            display: flex;
			justify-content: space-between;
			width: 100%;
			padding: 5px;
			padding-left: 0;
			padding-right: 0;
            background-color: #4f4f4f;
			color: white;
			font-family: 'Poppins', sans-serif;
			font-weight: 400;
			font-size: 14px;
			line-height: 120%;
			position: initial;
        }

		& ~ label {
			picture {
				transform: rotateZ(-180deg);
				transition: all 0.3s;
			}
		}
    }
}

.dropdown-list {
    display: none;
    top: 100%;
}






